In [ ]:
#strings are immutable = immutable means that are not changeable
# lists are mutable = mutable means that are changeable 

li = ['apple','banana',423,546.8,'redwan','hasan']
print(li[0])
li[1] = 'orange'
print(li[1]) 
print(li[2])

#methods of string

apple
orange
423

In [16]:
friend = ['redwan','hasan','siam','kodu','modu']
friend.append("modhu")
print(friend)

l1 = [1,89,32,45,12,0]
l1.sort()
print(l1)
l1.reverse()
print(l1)
l2 = [2,34,45,78,99]
l2.insert(2,43)
print(l2)

print(l2.pop(4))
print(l2)
l1.remove(32)
print(l1)

['redwan', 'hasan', 'siam', 'kodu', 'modu', 'modhu']
[0, 1, 12, 32, 45, 89]
[89, 45, 32, 12, 1, 0]
[2, 34, 43, 45, 78, 99]
78
[2, 34, 43, 45, 99]
[89, 45, 12, 1, 0]

## Methods of tuple

In [32]:
t1 = (1, 2, 3, 2, 4, 2)
print("Count = ", t1.count(2))  # Output: 3

t2 = (1, 2, 3, 2, 4, 6 , 5)
print("index of 2 = ", t2.index(2))  # Output: 1
print("index of 5 = ", t2.index(5))  # Raises ValueError

#concatenation
t1 = (1, 2)
t2 = (3, 4)
print("Concat the ")
print(t1 + t2)  # Output: (1, 2, 3, 4)
#repetition
t = (1, 2)
print(t * 3)  # Output: (1, 2, 1, 2, 1, 2)

#membership
t = (1, 2, 3)
print(2 in t)  # Output: True

#length 
my_tuple = (34,2,23,41,9,99)
print(len(my_tuple))

#min and max 
print(min(my_tuple))
print(max(my_tuple))

#slicing
sliced = my_tuple[1:4]
print(sliced)

#unpacking 
tuple = (10,20,30)
a,b,c = tuple
print(a,b,c)

Count =  3
index of 2 =  1
index of 5 =  6
Concat the
(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)
True
6
2
99
(2, 23, 41)
10 20 30