In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('movies.csv')

In [5]:
df['age'] = 2025 - df['release_year']

In [6]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,3

In [7]:
df['profit'] = df['revenue'] - df['budget']

In [8]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8,674.0
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,3,420.0

In [9]:
weather_df = pd.read_csv('weather_data.csv')

In [12]:
weather_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [14]:
weather_df.isnull().sum()

day            0
temperature    4
windspeed      4
event          2
dtype: int64

In [15]:
weather_df.dropna()

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [16]:
weather_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [20]:
weather_df.dropna(thresh=3)

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
4   1/7/2017         32.0        NaN    Rain
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [21]:
weather_df.fillna(0)

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          0.0        9.0   Sunny
2   1/5/2017         28.0        0.0    Snow
3   1/6/2017          0.0        7.0       0
4   1/7/2017         32.0        0.0    Rain
5   1/8/2017          0.0        0.0   Sunny
6   1/9/2017          0.0        0.0       0
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [23]:
weather_df.fillna(999)

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017        999.0        9.0   Sunny
2   1/5/2017         28.0      999.0    Snow
3   1/6/2017        999.0        7.0     999
4   1/7/2017         32.0      999.0    Rain
5   1/8/2017        999.0      999.0   Sunny
6   1/9/2017        999.0      999.0     999
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [24]:
weather_df['temperature'].mean()

np.float64(33.22)

In [27]:
weather_df['temperature'] = weather_df['temperature'].fillna(weather_df['temperature'].mean())
weather_df

         day  temperature  windspeed   event
0   1/1/2017        32.00        6.0    Rain
1   1/4/2017        33.22        9.0   Sunny
2   1/5/2017        28.00        NaN    Snow
3   1/6/2017        33.22        7.0     NaN
4   1/7/2017        32.00        NaN    Rain
5   1/8/2017        33.22        NaN   Sunny
6   1/9/2017        33.22        NaN     NaN
7  1/10/2017        34.10        8.1  Cloudy
8  1/11/2017        40.00       12.0   Sunny

In [29]:
weather_df['windspeed'] = weather_df['windspeed'].fillna(weather_df['windspeed'].median())
weather_df

         day  temperature  windspeed   event
0   1/1/2017        32.00        6.0    Rain
1   1/4/2017        33.22        9.0   Sunny
2   1/5/2017        28.00        8.1    Snow
3   1/6/2017        33.22        7.0     NaN
4   1/7/2017        32.00        8.1    Rain
5   1/8/2017        33.22        8.1   Sunny
6   1/9/2017        33.22        8.1     NaN
7  1/10/2017        34.10        8.1  Cloudy
8  1/11/2017        40.00       12.0   Sunny

In [33]:
weather_df['event'] = weather_df['event'].fillna(weather_df['event'].mode()[0])
weather_df

         day  temperature  windspeed   event
0   1/1/2017        32.00        6.0    Rain
1   1/4/2017        33.22        9.0   Sunny
2   1/5/2017        28.00        8.1    Snow
3   1/6/2017        33.22        7.0   Sunny
4   1/7/2017        32.00        8.1    Rain
5   1/8/2017        33.22        8.1   Sunny
6   1/9/2017        33.22        8.1   Sunny
7  1/10/2017        34.10        8.1  Cloudy
8  1/11/2017        40.00       12.0   Sunny

In [35]:
weather_df = pd.read_csv('weather_data.csv')
weather_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [36]:
weather_df['temperature'] = weather_df['temperature'].fillna(method = 'ffill')

/var/folders/98/nnfbbzcx34g0z2t3n9kx1h2r0000gn/T/ipykernel_71753/282071193.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  weather_df['temperature'] = weather_df['temperature'].fillna(method = 'ffill')

In [37]:
weather_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017         28.0        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017         32.0        NaN   Sunny
6   1/9/2017         32.0        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [38]:
weather_df['windspeed'] = weather_df['windspeed'].fillna(method = 'bfill')

/var/folders/98/nnfbbzcx34g0z2t3n9kx1h2r0000gn/T/ipykernel_71753/1864390531.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  weather_df['windspeed'] = weather_df['windspeed'].fillna(method = 'bfill')

In [39]:
weather_df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        7.0    Snow
3   1/6/2017         28.0        7.0     NaN
4   1/7/2017         32.0        8.1    Rain
5   1/8/2017         32.0        8.1   Sunny
6   1/9/2017         32.0        8.1     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny