###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [17]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
combinedList = []
for i in range(len(list1)):
    newList = [list1[i],list2[i]]
    combinedList.append(newList)

print(combinedList)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [4]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [25]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

for i in range(len(candy_list)):
    print(f"{candy_list[i]} - {no_of_items[i]}")

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [26]:
# Write code here
list1 = [1,2,3,4,5,6]
sumList = []
sum = 0
for i in range(len(list1)):
    sum = sum + list1[i]
    sumList.append(sum)

print(sumList)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,16,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [37]:
# Write code here
list1 = [2,4,6,10,1]
result = []

for num in list1:
    current_sum = 0
    for other_num in list1:
        if other_num>=num:
            current_sum = current_sum + other_num
    result.append(current_sum)

print(result)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [39]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
output = []

for num in num1:
    if (num in num2):
        output.append(num)

output.sort()
print(output)

[34, 67, 89]


**Problem 8:** Split a string from a list into individual words.

**Example:**

Input:
```bash
['This is a test', 'for splitting', 'strings into words.']
```

Output:
```bash
['This', 'is', 'a', 'test', 'for', 'splitting', 'strings', 'into', 'words.']
```

In [40]:
# Write code here

list1 = ['This is a test', 'for splitting', 'strings into words.']
outputList = []

for string in list1:
    for word in string.split():
        outputList.append(word)

print(outputList)

['This', 'is', 'a', 'test', 'for', 'splitting', 'strings', 'into', 'words.']


### `Problem 9:` Convert a character matrix to a single string using string comprehension.

**Example 1:**

Input:
```bash
[['t', 'h', 'i', 's'], ['i', 's'], ['a'], ['t', 'e', 's', 't']]
```

Output:
```bash
this is a test
```

In [43]:
# Write code here
list1 = [['t', 'h', 'i', 's'], ['i', 's'], ['a'], ['t', 'e', 's', 't']]

words = [''.join(chars) for chars in list1]
result = ' '.join(words)
print(result)

this is a test

Here's the edited version of the problem:

---

### `Problem 10:` Add spaces between potential words in a string.

**Example:**

Input:
```bash
['thisIs', 'aTest', 'forStringSplit']
```

Output:
```bash
['this Is', 'a Test', 'for String Split']
```

In [ ]:
# Code here
list1 = ['thisIs', 'aTest', 'forStringSplit']

### `Problem 11:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [46]:
# Write code here
list1 = [[1,2,3],[4,5,6],[7,8,9]]
result = []
for row in list1:
    current_matrix = max(row)
    result.append(current_matrix)

print(result)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [48]:
# Write code here
matrix = [[i*3 + j for j in range(3)] for i in range(3)] 
print(matrix)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### Problem 14: Extract Even Numbers from a List

**Task:** Given a list of integers, use list comprehension to create a new list containing only the even numbers.

**Example:**

Input:
```bash
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

Output:
```bash
[2, 4, 6, 8]
```

In [ ]:
row = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for even in row:
    if even%2==0:
        result.append(even)

print(result)

result2 = [even for even in row if even%2==0] #using list comprehension
print(result2)

[2, 4, 6, 8]
[2, 4, 6, 8]

### Problem 15: Convert Strings to Uppercase

**Task:** Given a list of strings, use list comprehension to convert all strings to uppercase.

**Example:**

Input:
```bash
['apple', 'banana', 'cherry']
```

Output:
```bash
['APPLE', 'BANANA', 'CHERRY']
```

In [54]:
list1 = ['apple', 'banana', 'cherry']
result = []
for upper in list1:
    result.append(upper.upper())

print(result)

result2 = [upper.upper() for upper in list1 ]
print(result2)

['APPLE', 'BANANA', 'CHERRY']
['APPLE', 'BANANA', 'CHERRY']