###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [6]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
list3 = [] #create a blank list where we store value of concatenating list.
if len(list1) == len(list2):
    for i in range(len(list1)):#iterations the index of the list.
        list3.append([list1[i],list2[i]]) #concatenating the elements of list1 and list2 and adding them to list3. list1[i]andlist[i]=list elements
else:
    print("The lists are not of equal length.")
print(list3)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [13]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40] #nested list
list1[2][2].append(7000) #The value 7000 has been appended to index 2 of the list.
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [15]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
if len(candy_list)==len(no_of_items): #length must be equal
    for i in range(len(candy_list)): #iterations the index of the list.
        print(candy_list[i],"-",no_of_items[i]) #candy_list[i],no_of_items[i] = list elements
else:
    print("The lists are not of equal length.")

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [21]:
# Write code here
list1 = [1,2,3,4,5,6]
running_sum = []
total = 0
for i in list1: #iterate the list
    total = total+i #sum of the list element
    running_sum.append(total)
print(running_sum)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [29]:
# Write code here

[24, 24, 22, 20, 2]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [31]:
# Write code here
num1 = [23, 45, 67, 78, 89, 34]
num2 = [34, 89, 55, 56, 39, 67]
# Convert lists to sets(set is containing only unique values)
set1 = set(num1)
set2 = set(num2)
#intersection of both sets
c_e = set1 & set2
# Sort the common elements in increasing order
s = sorted(c_e)
print("Common unique elements in increasing order:", s)

Common unique elements in increasing order: [34, 67, 89]


**Problem 8:** Split a string from a list into individual words.

**Example:**

Input:
```bash
['This is a test', 'for splitting', 'strings into words.']
```

Output:
```bash
['This', 'is', 'a', 'test', 'for', 'splitting', 'strings', 'into', 'words.']
```

In [32]:
# Write code here
l = ['This is a test', 'for splitting', 'strings into words.']
l1 = []
for i in l:
    l1.extend(i.split())
print(l1)

['This', 'is', 'a', 'test', 'for', 'splitting', 'strings', 'into', 'words.']


### `Problem 9:` Convert a character matrix to a single string using string comprehension.

**Example 1:**

Input:
```bash
[['t', 'h', 'i', 's'], ['i', 's'], ['a'], ['t', 'e', 's', 't']]
```

Output:
```bash
this is a test
```

In [33]:
# Write code here
l = [['t', 'h', 'i', 's'], ['i', 's'], ['a'], ['t', 'e', 's', 't']]
for i in l:
    print("".join(i),end=" ")

this is a test

Here's the edited version of the problem:

---

### `Problem 10:` Add spaces between potential words in a string.

**Example:**

Input:
```bash
['thisIs', 'aTest', 'forStringSplit']
```

Output:
```bash
['this Is', 'a Test', 'for String Split']
```

In [40]:
# Code here
l = ['thisIs', 'aTest', 'forStringSplit']
l1 = []

for word in l:
    result = word[0]  # Start with the first character
    for i in range(1, len(word)):
        if word[i].isupper() and word[i-1].islower():
            result = result+' '  # Add a space before the uppercase letter
        result = result+word[i]
    l1.append(result)

print(l1)

['this Is', 'a Test', 'for String Split']

### `Problem 11:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [45]:
# Write code here
# Define the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Initialize an empty list to store the maximum values
max_values = []

# Iterate through each row in the matrix
for row in matrix:
    # Find the maximum value in the current row and append it to the list
    max_values.append(max(row))

# Print the list of maximum values
print(max_values)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [47]:
# Write code here
matrix = [[i * 3 + j for j in range(len(matrix))] for i in range(len(matrix))]
print(matrix)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

Explanation:

    The outer list comprehension for i in range(len(matrix)) iterates over the rows of the matrix.​
    The inner list comprehension for j in range(len(matrix)) iterates over the columns within each row.​
    The expression i * 3 + j calculates the value to be placed at position (i, j) in the matrix.

### Problem 14: Extract Even Numbers from a List

**Task:** Given a list of integers, use list comprehension to create a new list containing only the even numbers.

**Example:**

Input:
```bash
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

Output:
```bash
[2, 4, 6, 8]
```

In [54]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l1 = []
for i in l:
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8]

### Problem 15: Convert Strings to Uppercase

**Task:** Given a list of strings, use list comprehension to convert all strings to uppercase.

**Example:**

Input:
```bash
['apple', 'banana', 'cherry']
```

Output:
```bash
['APPLE', 'BANANA', 'CHERRY']
```

In [48]:
l= ['apple', 'banana', 'cherry']
l1 = []
for i in l:
  i = i.upper()
  l1.append(i)

print(l1)

['APPLE', 'BANANA', 'CHERRY']