# **Tuple**

### `Q1`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [1]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)
t1 == t2

False

### `Q2`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [12]:
# write your code here
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]
# Initialize counters for lists, sets, and tuples
list_count = 0
set_count = 0
tuple_count = 0
# Iterate the list
for item in list1:
    if isinstance(item, list):  # Check if the item is a list
        list_count = list_count+1
    elif isinstance(item, set):  # Check if the item is a set
        set_count = set_count+1
    elif isinstance(item, tuple):  # Check if the item is a tuple
        tuple_count = tuple_count+1
print(f"List-{list_count}")
print(f"Set-{set_count}")
print(f"Tuples-{tuple_count}")

List-2
Set-2
Tuples-1

### `Q3`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Alice
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Alice', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here

# **Set**

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [19]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
# Convert lists to sets and find the intersection
common_elements = list(set(ar1).intersection(ar2, ar3))
print("Common elements:", common_elements)

Common elements: [80, 20]

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "Artificial Intelligence and Machine Learning are transforming the wOrld"
```
`Output:`
```
No of unique vowels-6
```

In [30]:
# write your code here
Str1 = "Artificial Intelligence and Machine Learning are transforming the wOrld"
unique_vowels = set()
# Iterate through each character in the string
for char in Str1:
    #character is a vowel
    if char in 'aeiouAEIOU':
        # Add the vowel to the set
        unique_vowels.add(char)
num_unique_vowels = len(unique_vowels)
print(f"No of unique vowels-{num_unique_vowels}")

No of unique vowels-7

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "DataSolution360"
Output: No
```

In [34]:
# write your code here
n = input("Enter a string: ")
unique_chars = set(n)
# Check if the set is a subset of {'0', '1'}
if unique_chars <= {'0', '1'}:
    print('Yes')
else:
    print('No')

Enter a string: 102
No


### `Q4`: Intersection of two sets. The intersection of two sets means we need to take all those elements that are common to both of the initial sets and store them in another set. Use **set operations**.

**Example 1:**

Input:
```bash
set1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
set2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

```

Output:
```bash
{9, 10, 4, 5}

```

**Example 2:**
```bash
Input:
set1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
set2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

```

Output:
{9, 11, 26, 28}

In [1]:
# write your code here
set1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
set2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
i_s = set1.intersection(set2)
i_s

{9, 11, 26, 28}

# **Dictionary**

### `Q1`: Key with maximum unique values

Given a dictionary with values as lists, extract the key whose value has the most unique values.

**Example 1:**

Input:
```bash
test_dict = {"Python" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Awesome" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Python
```

**Example 2:**

Input:
```bash
test_dict = {"Python" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Awesome" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Awesome
```

Let me know if you need further adjustments! ðŸ˜Š

In [5]:
# write your code here
test_dict = {"Python" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Awesome" : [9, 9, 6, 5, 5]}
c = 0 #count initialization
max_key = ""
# Iterate through each key-value pair in the dictionary
for key in test_dict:
    val_list = test_dict[key]
    unique_elements = []
    # Iterate the list to find unique elements
    for item in val_list:
        if item not in unique_elements:
            unique_elements.append(item)
    # max_key if the current list has more unique elements
    if len(unique_elements) > c:
        c = len(unique_elements)
        max_key = key

print(max_key)

Python

### `Q2`: Replace words from Dictionary. Given a string, replace its words using a lookup dictionary.

**Example 1:**

Input:
```bash
test_str = 'Python is great for coding beginners.'
repl_dict = {"great" : "amazing", "coding" : "programming"}

```

Output:
```bash
Python is amazing for programming beginners.

```

**Example 2:**

Input:
```bash
test_str = 'Python is great for coding beginners.'
repl_dict = {"awesome" : "amazing", "code" : "programming"}

```

Output:
```bash
Python is great for coding beginners.

```

### Explanation:
- If a word in the string exists in the `repl_dict`, replace it with the corresponding value from the dictionary.
- If a word does not exist in the dictionary, leave it unchanged.

In [ ]:
# write your code here

### `Q3`: Convert List to List of Dictionaries. Given a list of values and a list of keys, convert these values into key-value pairs in the form of a list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "Datasolution", 8]
key_list = ["name", "id"]
```

Output:
```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'Datasolution', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["Python", 10]
key_list = ["name", "id"]
```

Output:
```bash
[{'name': 'Python', 'id': 10}]
```

In [ ]:
# write your code here

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("Rahim", 10), ("Karim", 12), ("Sadia", 14), ("Tania", 20), ("Fahim", 25), ("Nadia", 30)]
```

Output:
```bash
{'Rahim': [10], 'Karim': [12], 'Sadia': [14], 'Tania': [20], 'Fahim': [25], 'Nadia': [30]}
```

**Example 2:**

Input:
```bash
[('Ayan', 1), ('Bina', 2), ('Celia', 3)]
```

Output:
```bash
{'Ayan': [1], 'Bina': [2], 'Celia': [3]}
```

In [ ]:
# write your code here

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here